[Package]
version: 2
depends: 
incremental: False

[Product]
type: localboot
id: dfn_keepass
name: KeePass
description: Einfaches und leicht zu bedienendes Programm zur sicheren Kennwortverwaltung.
advice: 
version: 2.36
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: desktop-link
description: Link on Desktop?
default: False

[ProductProperty]
type: unicode
name: silent-option
multivalue: False
editable: False
description: Un/Install silent (/qb!) or very silent (/qn); Show progressbar of installer or not
values: ["/qb!", "/qn"]
default: ["/qb!"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: True
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: True
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: default-language
multivalue: False
editable: False
description: Sets the default language of the program UI. Can be changed by the user later.
values: ["auto", "de", "en"]
default: ["auto"]

[ProductProperty]
type: bool
name: update-check
description: Check for update on startup?
default: False

[Changelog]
dfn_keepass (2.36-2)
	* kompletter Rewrite (common.opsiinc & Registry-Suche nach vorherigen Versionen, Language, Update-Check)
	* o4i-Richtlinien (Desktop-Link, Silent-Option), eigenes Logo, ...
	* Dependency zu dfn_dotnet entfernt, benötigt .NET >= 2.0 (ist ab Win7 standardmäßig enthalten)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 15.08.2017

keepass (2.28-1) stable; urgency=low

	* initial: created by opsi-setup-detector

-- opsisetupdetector.exe <info@uib.de>  11.02.2015 12:04:42
