[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_keepass
name: KeePass
description: KeePass is a free open source password manager, which helps you to manage your passwords in a secure way. You can put all your passwords in one database, which is locked with one master key or a key file. So you only have to remember one single master password or select the key file to unlock the whole database.
advice: 
version: 2.32
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: dfn_dotnet
requiredStatus: installed
requirementType: before

[Changelog]
keepass (2.28-1) stable; urgency=low

	* initial: created by opsi-setup-detector

-- opsisetupdetector.exe <info@uib.de>  11.02.2015 12:04:42

